In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"/media/sakthi/program clr/Combined_LCA_Disclosure_Data_FY2020_to_FY2024.csv")

/tmp/ipykernel_8134/1041066103.py:1: DtypeWarning: Columns (4,28,42,76,78,82,89) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"/media/sakthi/program clr/Combined_LCA_Disclosure_Data_FY2020_to_FY2024.csv")

In [3]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'ORIGINAL_CERT_DATE', 'VISA_CLASS', 'JOB_TITLE', 'SOC_CODE',
       'SOC_TITLE', 'FULL_TIME_POSITION', 'BEGIN_DATE', 'END_DATE',
       'TOTAL_WORKER_POSITIONS', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT',
       'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT',
       'CHANGE_EMPLOYER', 'AMENDED_PETITION', 'EMPLOYER_NAME',
       'TRADE_NAME_DBA', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'NAICS_CODE', 'EMPLOYER_POC_LAST_NAME',
       'EMPLOYER_POC_FIRST_NAME', 'EMPLOYER_POC_MIDDLE_NAME',
       'EMPLOYER_POC_JOB_TITLE', 'EMPLOYER_POC_ADDRESS1',
       'EMPLOYER_POC_ADDRESS2', 'EMPLOYER_POC_CITY', 'EMPLOYER_POC_STATE',
       'EMPLOYER_POC_POSTAL_CODE', 'EMPLOYER_POC_COUNTRY',
       'EMPLOYER_POC_PROVINCE', 'EMPLOYER_POC_PHONE', 'EMPLOYER_POC_PHONE_EXT',
       'EMPLOYER_POC_EMAIL', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_LAST_NAME', 'AGENT_ATTORNEY_FIRST_NAME',
       'AGENT_ATTORNEY_MIDDLE_NAME', 'AGENT_ATTORNEY_ADDRESS1',
       'AGENT_ATTORNEY_ADDRESS2', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'AGENT_ATTORNEY_POSTAL_CODE',
       'AGENT_ATTORNEY_COUNTRY', 'AGENT_ATTORNEY_PROVINCE',
       'AGENT_ATTORNEY_PHONE', 'AGENT_ATTORNEY_PHONE_EXT',
       'AGENT_ATTORNEY_EMAIL_ADDRESS', 'LAWFIRM_NAME_BUSINESS_NAME',
       'STATE_OF_HIGHEST_COURT', 'NAME_OF_HIGHEST_STATE_COURT',
       'WORKSITE_WORKERS', 'SECONDARY_ENTITY',
       'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_ADDRESS1',
       'WORKSITE_ADDRESS2', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_TRACKING_NUMBER', 'PW_WAGE_LEVEL', 'PW_OES_YEAR',
       'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER',
       'PW_SURVEY_NAME', 'TOTAL_WORKSITE_LOCATIONS', 'AGREE_TO_LC_STATEMENT',
       'H_1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'STATUTORY_BASIS',
       'APPENDIX_A_ATTACHED', 'PUBLIC_DISCLOSURE', 'PREPARER_LAST_NAME',
       'PREPARER_FIRST_NAME', 'PREPARER_MIDDLE_INITIAL',
       'PREPARER_BUSINESS_NAME', 'PREPARER_EMAIL'],
      dtype='object')

In [4]:
df.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-19268-393467,Certified,2019-09-25,2019-10-01,NaN,H-1B,"APPLICATION ENGINEER, OMS [15-1199.02]",15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,N,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,NaN,H-1B,BI DEVELOPER II,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-19268-177184,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER,17-2141,MECHANICAL ENGINEERS,Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,NaN,H-1B,"SOFTWARE DEVELOPER, APPLICATIONS",15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-19268-394079,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER LEVEL II,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,N,Y,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,LEGAL@THEEGIANTS.COM

In [5]:
df.isnull().sum()

CASE_NUMBER                      0
CASE_STATUS                      0
RECEIVED_DATE                    0
DECISION_DATE                    0
ORIGINAL_CERT_DATE         3378428
                            ...
PREPARER_LAST_NAME         1791953
PREPARER_FIRST_NAME        1791738
PREPARER_MIDDLE_INITIAL    2945060
PREPARER_BUSINESS_NAME     1738592
PREPARER_EMAIL             1748896
Length: 96, dtype: int64

In [6]:
df.shape

(3564698, 96)

In [7]:
def assign_processing_center(state):
    east = ['NY','NJ','MA','PA','VA','MD','DC']
    central = ['TX','IL','OH','MI']
    west = ['CA','WA','OR','AZ']

    if state in east:
        return 'New York Service Center'
    elif state in central:
        return 'Texas Service Center'
    elif state in west:
        return 'California Service Center'
    else:
        return np.random.choice([
            'California Service Center',
            'Texas Service Center',
            'New York Service Center'
        ])

df['processing_center'] = df['WORKSITE_STATE'].apply(assign_processing_center)

In [8]:
df.rename(columns={'processing_center':'PROCESSING_CENTER'},inplace = True)

In [9]:
df['EMPLOYER_COUNTRY'].unique()

array(['UNITED STATES OF AMERICA', 'CANADA', 'SWEDEN', 'UNITED KINGDOM',
       'GEORGIA', 'AUSTRALIA', 'INDIA', 'COLOMBIA', 'AFGHANISTAN',
       'UNITED ARAB EMIRATES', 'CAMBODIA', 'BAHAMAS', 'NEW ZEALAND',
       'KIRIBATI', 'NIGERIA', 'BELGIUM', 'CHILE', 'ANGOLA', 'BARBADOS',
       'MEXICO', 'CHINA', 'ALBANIA', 'ISRAEL', 'NAMIBIA'], dtype=object)

In [10]:
embassy_map = {
    'UNITED STATES OF AMERICA': 'WASHINGTON DC',
    'CANADA': 'TORONTO',
    'SWEDEN': 'STOCKHOLM',
    'UNITED KINGDOM': 'LONDON',
    'GEORGIA': 'TBILISI',
    'AUSTRALIA': 'CANBERRA',
    'INDIA': 'MUMBAI',
    'COLOMBIA': 'BOGOTA',
    'AFGHANISTAN': 'KABUL',
    'UNITED ARAB EMIRATES': 'ABU DHABI',
    'CAMBODIA': 'PHNOM PENH',
    'BAHAMAS': 'NASSAU',
    'NEW ZEALAND': 'WELLINGTON',
    'KIRIBATI': 'SUVA',
    'NIGERIA': 'ABUJA',
    'BELGIUM': 'BRUSSELS',
    'CHILE': 'SANTIAGO',
    'ANGOLA': 'LUANDA',
    'BARBADOS': 'BRIDGETOWN',
    'MEXICO': 'MEXICO CITY',
    'CHINA': 'BEIJING',
    'ALBANIA': 'TIRANA',
    'ISRAEL': 'JERUSALEM',
    'NAMIBIA': 'WINDHOEK'
}

df['EMPLOYER_COUNTRY'] = df['EMPLOYER_COUNTRY'].str.strip()

df['SERVICE_OFFICE'] = (
    df['EMPLOYER_COUNTRY']
    .map(embassy_map)
    .fillna('Washington DC')
)

In [11]:
rename_columns = {
    'CASE_NUMBER': 'APPLICATION_ID',
    'CASE_STATUS': "APPLICATION_STATUS",
    'RECEIVED_DATE': 'SUBMISSION_DATE'
}
df.rename(columns=rename_columns , inplace = True)

In [12]:
df.head()

,APPLICATION_ID,APPLICATION_STATUS,SUBMISSION_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL,PROCESSING_CENTER,SERVICE_OFFICE
0,I-200-19268-393467,Certified,2019-09-25,2019-10-01,NaN,H-1B,"APPLICATION ENGINEER, OMS [15-1199.02]",15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,Texas Service Center,WASHINGTON DC
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,NaN,H-1B,BI DEVELOPER II,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,Texas Service Center,WASHINGTON DC
2,I-200-19268-177184,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER,17-2141,MECHANICAL ENGINEERS,Y,...,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,Texas Service Center,WASHINGTON DC
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,NaN,H-1B,"SOFTWARE DEVELOPER, APPLICATIONS",15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,Texas Service Center,WASHINGTON DC
4,I-200-19268-394079,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER LEVEL II,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,BOTH,NaN,Disclose Business,NaN,NaN,NaN,NaN,LEGAL@THEEGIANTS.COM,Texas Service Center,WASHINGTON DC

In [13]:
df.drop(columns=[
    'EMPLOYER_ADDRESS1',
    'EMPLOYER_ADDRESS2',
    'EMPLOYER_CITY',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_PROVINCE',
    'EMPLOYER_PHONE',
    'EMPLOYER_PHONE_EXT',
    
    'EMPLOYER_POC_LAST_NAME',
    'EMPLOYER_POC_FIRST_NAME',
    'EMPLOYER_POC_MIDDLE_NAME',
    'EMPLOYER_POC_JOB_TITLE',
    'EMPLOYER_POC_ADDRESS1',
    'EMPLOYER_POC_ADDRESS2',
    'EMPLOYER_POC_CITY',
    'EMPLOYER_POC_STATE',
    'EMPLOYER_POC_POSTAL_CODE',
    'EMPLOYER_POC_COUNTRY',
    'EMPLOYER_POC_PROVINCE',
    'EMPLOYER_POC_PHONE',
    'EMPLOYER_POC_PHONE_EXT',
    'EMPLOYER_POC_EMAIL',
    
    'AGENT_REPRESENTING_EMPLOYER',
    'AGENT_ATTORNEY_LAST_NAME',
    'AGENT_ATTORNEY_FIRST_NAME',
    'AGENT_ATTORNEY_MIDDLE_NAME',
    'AGENT_ATTORNEY_ADDRESS1',
    'AGENT_ATTORNEY_ADDRESS2',
    'AGENT_ATTORNEY_CITY',
    'AGENT_ATTORNEY_STATE',
    'AGENT_ATTORNEY_POSTAL_CODE',
    'AGENT_ATTORNEY_COUNTRY',
    'AGENT_ATTORNEY_PROVINCE',
    'AGENT_ATTORNEY_PHONE',
    'AGENT_ATTORNEY_PHONE_EXT',
    'AGENT_ATTORNEY_EMAIL_ADDRESS',
    'LAWFIRM_NAME_BUSINESS_NAME',

    'PREPARER_LAST_NAME',
    'PREPARER_FIRST_NAME',
    'PREPARER_MIDDLE_INITIAL',
    'PREPARER_BUSINESS_NAME',
    'PREPARER_EMAIL',
    
    'EMPLOYER_ADDRESS1',
    'EMPLOYER_ADDRESS2',
    'WORKSITE_ADDRESS1',
    'WORKSITE_ADDRESS2',
    'WORKSITE_POSTAL_CODE',
    
    'PW_TRACKING_NUMBER',
    'STATUTORY_BASIS',
    'APPENDIX_A_ATTACHED',
    'PUBLIC_DISCLOSURE',
    'AGREE_TO_LC_STATEMENT'
])

,APPLICATION_ID,APPLICATION_STATUS,SUBMISSION_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,PW_OTHER_SOURCE,PW_OTHER_YEAR,PW_SURVEY_PUBLISHER,PW_SURVEY_NAME,TOTAL_WORKSITE_LOCATIONS,H_1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,PROCESSING_CENTER,SERVICE_OFFICE
0,I-200-19268-393467,Certified,2019-09-25,2019-10-01,NaN,H-1B,"APPLICATION ENGINEER, OMS [15-1199.02]",15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,OES,NaN,NaN,NaN,NaN,N,N,NaN,Texas Service Center,WASHINGTON DC
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,NaN,H-1B,BI DEVELOPER II,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,OES,NaN,NaN,NaN,NaN,Y,N,Y,Texas Service Center,WASHINGTON DC
2,I-200-19268-177184,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER,17-2141,MECHANICAL ENGINEERS,Y,...,OES,NaN,NaN,NaN,NaN,Y,N,Y,Texas Service Center,WASHINGTON DC
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,NaN,H-1B,"SOFTWARE DEVELOPER, APPLICATIONS",15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Y,...,OES,NaN,NaN,NaN,NaN,Y,N,Y,Texas Service Center,WASHINGTON DC
4,I-200-19268-394079,Certified,2019-09-25,2019-10-01,NaN,H-1B,QUALITY ENGINEER LEVEL II,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,...,OES,NaN,NaN,NaN,NaN,Y,N,Y,Texas Service Center,WASHINGTON DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564693,I-200-23292-444332,Certified - Withdrawn,2023-10-19,2024-07-01,2023-10-26,H-1B,Deployment Engineer,15-1299.08,Computer Systems Engineers/Architects,Y,...,NaN,NaN,NaN,NaN,2.0,No,No,NaN,California Service Center,WASHINGTON DC
3564694,I-200-24176-143448,Certified,2024-06-24,2024-07-01,NaN,H-1B,Automotive Embedded Linux Field Application En...,17-2072.00,"Electronics Engineers, Except Computer",Y,...,NaN,NaN,NaN,NaN,2.0,No,No,NaN,Texas Service Center,WASHINGTON DC
3564695,I-200-24176-141378,Certified,2024-06-24,2024-07-01,NaN,H-1B,Manager JC50 - Computer Systems Engineers/Arch...,15-1299.08,Computer Systems Engineers/Architects,Y,...,NaN,NaN,NaN,NaN,1.0,Yes,No,Yes,California Service Center,WASHINGTON DC
3564696,I-200-24176-141827,Certified,2024-06-24,2024-07-01,NaN,H-1B,Data Scientist,15-2051.01,Business Intelligence Analysts,Y,...,NaN,NaN,NaN,NaN,1.0,No,No,NaN,New York Service Center,WASHINGTON DC
3564697,I-200-24176-143591,Certified,2024-06-24,2024-07-01,NaN,H-1B,Senior Software Development Engineer,15-1252.00,Software Developers,Y,...,Survey,2023.0,"Willis Towers Watson Data Services, Inc.","Middle Management, Professional, and Support C...",2.0,No,No,NaN,California Service Center,WASHINGTON DC

In [14]:
df.columns

Index(['APPLICATION_ID', 'APPLICATION_STATUS', 'SUBMISSION_DATE',
       'DECISION_DATE', 'ORIGINAL_CERT_DATE', 'VISA_CLASS', 'JOB_TITLE',
       'SOC_CODE', 'SOC_TITLE', 'FULL_TIME_POSITION', 'BEGIN_DATE', 'END_DATE',
       'TOTAL_WORKER_POSITIONS', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT',
       'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT',
       'CHANGE_EMPLOYER', 'AMENDED_PETITION', 'EMPLOYER_NAME',
       'TRADE_NAME_DBA', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'NAICS_CODE', 'EMPLOYER_POC_LAST_NAME',
       'EMPLOYER_POC_FIRST_NAME', 'EMPLOYER_POC_MIDDLE_NAME',
       'EMPLOYER_POC_JOB_TITLE', 'EMPLOYER_POC_ADDRESS1',
       'EMPLOYER_POC_ADDRESS2', 'EMPLOYER_POC_CITY', 'EMPLOYER_POC_STATE',
       'EMPLOYER_POC_POSTAL_CODE', 'EMPLOYER_POC_COUNTRY',
       'EMPLOYER_POC_PROVINCE', 'EMPLOYER_POC_PHONE', 'EMPLOYER_POC_PHONE_EXT',
       'EMPLOYER_POC_EMAIL', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_LAST_NAME', 'AGENT_ATTORNEY_FIRST_NAME',
       'AGENT_ATTORNEY_MIDDLE_NAME', 'AGENT_ATTORNEY_ADDRESS1',
       'AGENT_ATTORNEY_ADDRESS2', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'AGENT_ATTORNEY_POSTAL_CODE',
       'AGENT_ATTORNEY_COUNTRY', 'AGENT_ATTORNEY_PROVINCE',
       'AGENT_ATTORNEY_PHONE', 'AGENT_ATTORNEY_PHONE_EXT',
       'AGENT_ATTORNEY_EMAIL_ADDRESS', 'LAWFIRM_NAME_BUSINESS_NAME',
       'STATE_OF_HIGHEST_COURT', 'NAME_OF_HIGHEST_STATE_COURT',
       'WORKSITE_WORKERS', 'SECONDARY_ENTITY',
       'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_ADDRESS1',
       'WORKSITE_ADDRESS2', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_TRACKING_NUMBER', 'PW_WAGE_LEVEL', 'PW_OES_YEAR',
       'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER',
       'PW_SURVEY_NAME', 'TOTAL_WORKSITE_LOCATIONS', 'AGREE_TO_LC_STATEMENT',
       'H_1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'STATUTORY_BASIS',
       'APPENDIX_A_ATTACHED', 'PUBLIC_DISCLOSURE', 'PREPARER_LAST_NAME',
       'PREPARER_FIRST_NAME', 'PREPARER_MIDDLE_INITIAL',
       'PREPARER_BUSINESS_NAME', 'PREPARER_EMAIL', 'PROCESSING_CENTER',
       'SERVICE_OFFICE'],
      dtype='object')

In [15]:
final_df = df[[
    "APPLICATION_ID",
    "APPLICATION_STATUS",
    "SUBMISSION_DATE",
    "DECISION_DATE",

    "VISA_CLASS",

    "SOC_CODE",
    "SOC_TITLE",
    "JOB_TITLE",

    "EMPLOYER_NAME",
    "EMPLOYER_STATE",

    "WORKSITE_STATE",
    "WORKSITE_CITY",

    "WAGE_RATE_OF_PAY_FROM",
    "WAGE_RATE_OF_PAY_TO",
    "PREVAILING_WAGE",
    "PW_WAGE_LEVEL",

    "NEW_EMPLOYMENT",
    "CHANGE_EMPLOYER",
    "AMENDED_PETITION",

    "PROCESSING_CENTER",
    "SERVICE_OFFICE"
]]

In [16]:
final_df

,APPLICATION_ID,APPLICATION_STATUS,SUBMISSION_DATE,DECISION_DATE,VISA_CLASS,SOC_CODE,SOC_TITLE,JOB_TITLE,EMPLOYER_NAME,EMPLOYER_STATE,...,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,PREVAILING_WAGE,PW_WAGE_LEVEL,NEW_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,PROCESSING_CENTER,SERVICE_OFFICE
0,I-200-19268-393467,Certified,2019-09-25,2019-10-01,H-1B,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER","APPLICATION ENGINEER, OMS [15-1199.02]","JO-ANN STORES, INC.",OH,...,Hudson,100000.00,NaN,95118.0,IV,1,0,0,Texas Service Center,WASHINGTON DC
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,H-1B,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",BI DEVELOPER II,DENKEN SOLUTIONS INC.,CA,...,BRENTWOOD,38.57,38.57,39.0,II,0,0,0,Texas Service Center,WASHINGTON DC
2,I-200-19268-177184,Certified,2019-09-25,2019-10-01,H-1B,17-2141,MECHANICAL ENGINEERS,QUALITY ENGINEER,"EPITEC, INC.",MI,...,Dearborn,43.50,NaN,39.0,II,0,1,0,Texas Service Center,WASHINGTON DC
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,H-1B,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS","SOFTWARE DEVELOPER, APPLICATIONS","SYSTEMS TECHNOLOGY GROUP, INC.",MI,...,Taylor,57.69,57.69,53.0,IV,0,0,0,Texas Service Center,WASHINGTON DC
4,I-200-19268-394079,Certified,2019-09-25,2019-10-01,H-1B,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",QUALITY ENGINEER LEVEL II,E-GIANTS TECHNOLOGIES LLC,IA,...,BLUE ASH,75000.00,NaN,65333.0,II,0,0,0,Texas Service Center,WASHINGTON DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564693,I-200-23292-444332,Certified - Withdrawn,2023-10-19,2024-07-01,H-1B,15-1299.08,Computer Systems Engineers/Architects,Deployment Engineer,Osaro Inc.,CA,...,Sunnyvale,132000.00,152000.00,131144.0,II,0,1,0,California Service Center,WASHINGTON DC
3564694,I-200-24176-143448,Certified,2024-06-24,2024-07-01,H-1B,17-2072.00,"Electronics Engineers, Except Computer",Automotive Embedded Linux Field Application En...,"NXP USA, INC.",TX,...,Novi,126000.00,NaN,91478.0,II,0,0,0,Texas Service Center,WASHINGTON DC
3564695,I-200-24176-141378,Certified,2024-06-24,2024-07-01,H-1B,15-1299.08,Computer Systems Engineers/Architects,Manager JC50 - Computer Systems Engineers/Arch...,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,TX,...,Raleigh,97406.00,NaN,97406.0,III,0,0,1,California Service Center,WASHINGTON DC
3564696,I-200-24176-141827,Certified,2024-06-24,2024-07-01,H-1B,15-2051.01,Business Intelligence Analysts,Data Scientist,Soona Co,CO,...,Denver,124630.00,NaN,92560.0,II,0,0,0,New York Service Center,WASHINGTON DC
3564697,I-200-24176-143591,Certified,2024-06-24,2024-07-01,H-1B,15-1252.00,Software Developers,Senior Software Development Engineer,"Zoom Video Communications, Inc.",CA,...,San Jose,150502.00,NaN,150502.0,NaN,0,0,0,California Service Center,WASHINGTON DC

In [17]:
final_df.isnull().sum()

APPLICATION_ID                 0
APPLICATION_STATUS             0
SUBMISSION_DATE                0
DECISION_DATE                  0
VISA_CLASS                     0
SOC_CODE                       0
SOC_TITLE                      0
JOB_TITLE                      1
EMPLOYER_NAME                  7
EMPLOYER_STATE               502
WORKSITE_STATE                 2
WORKSITE_CITY                 55
WAGE_RATE_OF_PAY_FROM          2
WAGE_RATE_OF_PAY_TO      2396984
PREVAILING_WAGE             1962
PW_WAGE_LEVEL             248298
NEW_EMPLOYMENT                 0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
PROCESSING_CENTER              0
SERVICE_OFFICE                 0
dtype: int64

In [18]:
final_df.describe()

,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,PREVAILING_WAGE,NEW_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION
count,3.564696e+06,1.167714e+06,3.562736e+06,3.564698e+06,3.564698e+06,3.564698e+06
mean,1.121646e+05,1.443967e+05,9.622957e+04,6.351761e-01,3.040381e-01,2.996994e-01
std,6.508975e+05,9.259075e+06,4.204133e+04,3.915777e+00,1.626940e+00,1.490564e+00
min,7.250000e+00,7.500000e+00,7.250000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.077900e+04,9.740000e+04,7.444300e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.047490e+05,1.253280e+05,9.439000e+04,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.390000e+05,1.653000e+05,1.191220e+05,1.000000e+00,0.000000e+00,0.000000e+00
max,1.204781e+09,1.000000e+10,8.108500e+05,1.098000e+03,1.098000e+03,1.098000e+03

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3564698 entries, 0 to 3564697
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   APPLICATION_ID         object
 1   APPLICATION_STATUS     object
 2   SUBMISSION_DATE        object
 3   DECISION_DATE          object
 4   VISA_CLASS             object
 5   SOC_CODE               object
 6   SOC_TITLE              object
 7   JOB_TITLE              object
 8   EMPLOYER_NAME          object
 9   EMPLOYER_STATE         object
 10  WORKSITE_STATE         object
 11  WORKSITE_CITY          object
 12  WAGE_RATE_OF_PAY_FROM  float64
 13  WAGE_RATE_OF_PAY_TO    float64
 14  PREVAILING_WAGE        float64
 15  PW_WAGE_LEVEL          object
 16  NEW_EMPLOYMENT         int64
 17  CHANGE_EMPLOYER        int64
 18  AMENDED_PETITION       int64
 19  PROCESSING_CENTER      object
 20  SERVICE_OFFICE         object
dtypes: float64(3), int64(3), object(15)
memory usage: 571.1+ MB

In [20]:
final_df = final_df[final_df['WAGE_RATE_OF_PAY_FROM'] < 500000]
final_df['WAGE_RATE_OF_PAY_FROM'].max()

np.float64(499999.92)

In [21]:
final_df = final_df[final_df['WAGE_RATE_OF_PAY_TO'] < 1000000]

In [22]:
final_df['WAGE_RATE_OF_PAY_TO'] = final_df['WAGE_RATE_OF_PAY_TO'].fillna(final_df['WAGE_RATE_OF_PAY_FROM'])
final_df['WAGE_RATE_OF_PAY_TO'].isnull().sum()

np.int64(0)

In [23]:
final_df['EMPLOYER_NAME'] = final_df['EMPLOYER_NAME'].fillna("Unknown")

In [24]:
final_df['EMPLOYER_STATE'] = final_df['EMPLOYER_STATE'].fillna(final_df['EMPLOYER_STATE'].mode()[0])

In [25]:
final_df['WORKSITE_CITY'] = final_df['WORKSITE_CITY'].fillna(final_df['WORKSITE_CITY'].mode()[0])

In [26]:
final_df['PREVAILING_WAGE'] = final_df['PREVAILING_WAGE'].fillna(
    final_df['PREVAILING_WAGE'].median()
)

In [27]:
final_df['PW_WAGE_LEVEL'] = final_df['PW_WAGE_LEVEL'].fillna(
    final_df['PW_WAGE_LEVEL'].mode()[0]
)

In [28]:
final_df = final_df.dropna(subset=['JOB_TITLE'])

In [29]:
final_df.isnull().sum()

APPLICATION_ID           0
APPLICATION_STATUS       0
SUBMISSION_DATE          0
DECISION_DATE            0
VISA_CLASS               0
SOC_CODE                 0
SOC_TITLE                0
JOB_TITLE                0
EMPLOYER_NAME            0
EMPLOYER_STATE           0
WORKSITE_STATE           0
WORKSITE_CITY            0
WAGE_RATE_OF_PAY_FROM    0
WAGE_RATE_OF_PAY_TO      0
PREVAILING_WAGE          0
PW_WAGE_LEVEL            0
NEW_EMPLOYMENT           0
CHANGE_EMPLOYER          0
AMENDED_PETITION         0
PROCESSING_CENTER        0
SERVICE_OFFICE           0
dtype: int64

In [30]:
final_df["SUBMISSION_DATE"] = pd.to_datetime(final_df["SUBMISSION_DATE"])
final_df["DECISION_DATE"] = pd.to_datetime(final_df["DECISION_DATE"])

In [31]:
print(final_df)

             APPLICATION_ID     APPLICATION_STATUS SUBMISSION_DATE  \
1        I-200-19268-638983              Certified      2019-09-25
3        I-200-19268-936403              Certified      2019-09-25
5        I-200-19268-495825              Certified      2019-09-25
6        I-200-19268-319248              Certified      2019-09-25
10       I-200-19268-585552              Certified      2019-09-25
...                     ...                    ...             ...
3564684  I-200-24176-141785              Certified      2024-06-24
3564687  I-200-24176-143274              Certified      2024-06-24
3564688  I-200-23003-676276  Certified - Withdrawn      2023-01-02
3564690  I-200-24177-144720              Certified      2024-06-24
3564693  I-200-23292-444332  Certified - Withdrawn      2023-10-19

        DECISION_DATE VISA_CLASS    SOC_CODE  \
1          2019-10-01       H-1B     15-1132
3          2019-10-01       H-1B     15-1132
5          2019-10-01       H-1B     15-2031
6          2019-10-01       H-1B     15-1132
10         2019-10-01       H-1B     15-1199
...               ...        ...         ...
3564684    2024-07-01       H-1B  15-1252.00
3564687    2024-07-01       H-1B  15-1211.00
3564688    2024-07-01       H-1B  15-1252.00
3564690    2024-07-01       H-1B  13-1161.00
3564693    2024-07-01       H-1B  15-1299.08

                                                 SOC_TITLE  \
1                        SOFTWARE DEVELOPERS, APPLICATIONS
3                        SOFTWARE DEVELOPERS, APPLICATIONS
5                             OPERATIONS RESEARCH ANALYSTS
6                        SOFTWARE DEVELOPERS, APPLICATIONS
10                         COMPUTER OCCUPATIONS, ALL OTHER
...                                                    ...
3564684                                Software Developers
3564687                          Computer Systems Analysts
3564688                                Software Developers
3564690  Market Research Analysts and Marketing Special...
3564693              Computer Systems Engineers/Architects

                                         JOB_TITLE  \
1                                  BI DEVELOPER II
3                 SOFTWARE DEVELOPER, APPLICATIONS
5                      OPERATION RESEARCH ANALYSTS
6                               SOFTWARE DEVELOPER
10                          POWER BI ADMINISTRATOR
...                                            ...
3564684                    Senior Systems Engineer
3564687                   Computer Systems Analyst
3564688                         Solution Architect
3564690  Marketing and Fund Development Specialist
3564693                        Deployment Engineer

                                  EMPLOYER_NAME EMPLOYER_STATE  ...  \
1                         DENKEN SOLUTIONS INC.             CA  ...
3                SYSTEMS TECHNOLOGY GROUP, INC.             MI  ...
5                                BIZINTEX, INC.             GA  ...
6                        NEMO IT SOLUTIONS, INC             TX  ...
10                              TECH MATRIX INC             NJ  ...
...                                         ...            ...  ...
3564684          Fidelity Technology Group, LLC             MA  ...
3564687                           MYAPPSHUB LLC             WA  ...
3564688                Maruthi Technologies Inc             TX  ...
3564690  CHINESE INFORMATION AND SERVICE CENTER             WA  ...
3564693                              Osaro Inc.             CA  ...

         WORKSITE_CITY WAGE_RATE_OF_PAY_FROM  WAGE_RATE_OF_PAY_TO  \
1            BRENTWOOD                 38.57                38.57
3               Taylor                 57.69                57.69
5             San Jose              73000.00             73000.00
6         JACKSONVILLE              84000.00             84000.00
10       The Woodlands              76000.00             76000.00
...                ...                   ...                  ...
3564684       Westlake             101192.00            120328.00
3564687        REDMOND              86632.00             86700.00
3564688         Dallas             134992.00            160000.00
3564690        Seattle                 27.30                32.50
3564693      Sunnyvale             132000.00            152000.00

         PREVAILING_WAGE  PW_WAGE_LEVEL NEW_EMPLOYMENT  CHANGE_EMPLOYER  \
1                   39.0             II              0                0
3                   53.0             IV              0                0
5                72280.0             II              0                1
6                73091.0             II              0                0
10               75546.0             II              0                0
...                  ...            ...            ...              ...
3564684         101192.0             II              0                1
3564687          86632.0              I              0                0
3564688         134992.0             IV              0                1
3564690             27.3              I              1                0
3564693         131144.0             II              0                1

         AMENDED_PETITION          PROCESSING_CENTER SERVICE_OFFICE
1                       0       Texas Service Center  WASHINGTON DC
3                       0       Texas Service Center  WASHINGTON DC
5                       0  California Service Center  WASHINGTON DC
6                       1       Texas Service Center  WASHINGTON DC
10                      1       Texas Service Center  WASHINGTON DC
...                   ...                        ...            ...
3564684                 0       Texas Service Center  WASHINGTON DC
3564687                 0  California Service Center  WASHINGTON DC
3564688                 0       Texas Service Center  WASHINGTON DC
3564690                 0  California Service Center  WASHINGTON DC
3564693                 0  California Service Center  WASHINGTON DC

[1166905 rows x 21 columns]

In [32]:
final_df['SERVICE_OFFICE'].unique()

array(['WASHINGTON DC', 'TORONTO', 'LONDON', 'TBILISI', 'CANBERRA',
       'MUMBAI', 'ABU DHABI', 'PHNOM PENH', 'KABUL', 'ABUJA', 'BRUSSELS',
       'SANTIAGO', 'LUANDA', 'BRIDGETOWN', 'MEXICO CITY', 'TIRANA',
       'JERUSALEM'], dtype=object)

In [33]:
final_df["PROCESSING_DAYS"] = (final_df["DECISION_DATE"] - final_df["SUBMISSION_DATE"]).dt.days
print("\nAfter calculating processing days:\n", final_df)

After calculating processing days:
              APPLICATION_ID     APPLICATION_STATUS SUBMISSION_DATE  \
1        I-200-19268-638983              Certified      2019-09-25
3        I-200-19268-936403              Certified      2019-09-25
5        I-200-19268-495825              Certified      2019-09-25
6        I-200-19268-319248              Certified      2019-09-25
10       I-200-19268-585552              Certified      2019-09-25
...                     ...                    ...             ...
3564684  I-200-24176-141785              Certified      2024-06-24
3564687  I-200-24176-143274              Certified      2024-06-24
3564688  I-200-23003-676276  Certified - Withdrawn      2023-01-02
3564690  I-200-24177-144720              Certified      2024-06-24
3564693  I-200-23292-444332  Certified - Withdrawn      2023-10-19

        DECISION_DATE VISA_CLASS    SOC_CODE  \
1          2019-10-01       H-1B     15-1132
3          2019-10-01       H-1B     15-1132
5          2019-10-01       H-1B     15-2031
6          2019-10-01       H-1B     15-1132
10         2019-10-01       H-1B     15-1199
...               ...        ...         ...
3564684    2024-07-01       H-1B  15-1252.00
3564687    2024-07-01       H-1B  15-1211.00
3564688    2024-07-01       H-1B  15-1252.00
3564690    2024-07-01       H-1B  13-1161.00
3564693    2024-07-01       H-1B  15-1299.08

                                                 SOC_TITLE  \
1                        SOFTWARE DEVELOPERS, APPLICATIONS
3                        SOFTWARE DEVELOPERS, APPLICATIONS
5                             OPERATIONS RESEARCH ANALYSTS
6                        SOFTWARE DEVELOPERS, APPLICATIONS
10                         COMPUTER OCCUPATIONS, ALL OTHER
...                                                    ...
3564684                                Software Developers
3564687                          Computer Systems Analysts
3564688                                Software Developers
3564690  Market Research Analysts and Marketing Special...
3564693              Computer Systems Engineers/Architects

                                         JOB_TITLE  \
1                                  BI DEVELOPER II
3                 SOFTWARE DEVELOPER, APPLICATIONS
5                      OPERATION RESEARCH ANALYSTS
6                               SOFTWARE DEVELOPER
10                          POWER BI ADMINISTRATOR
...                                            ...
3564684                    Senior Systems Engineer
3564687                   Computer Systems Analyst
3564688                         Solution Architect
3564690  Marketing and Fund Development Specialist
3564693                        Deployment Engineer

                                  EMPLOYER_NAME EMPLOYER_STATE  ...  \
1                         DENKEN SOLUTIONS INC.             CA  ...
3                SYSTEMS TECHNOLOGY GROUP, INC.             MI  ...
5                                BIZINTEX, INC.             GA  ...
6                        NEMO IT SOLUTIONS, INC             TX  ...
10                              TECH MATRIX INC             NJ  ...
...                                         ...            ...  ...
3564684          Fidelity Technology Group, LLC             MA  ...
3564687                           MYAPPSHUB LLC             WA  ...
3564688                Maruthi Technologies Inc             TX  ...
3564690  CHINESE INFORMATION AND SERVICE CENTER             WA  ...
3564693                              Osaro Inc.             CA  ...

        WAGE_RATE_OF_PAY_FROM WAGE_RATE_OF_PAY_TO  PREVAILING_WAGE  \
1                       38.57               38.57             39.0
3                       57.69               57.69             53.0
5                    73000.00            73000.00          72280.0
6                    84000.00            84000.00          73091.0
10                   76000.00            76000.00          75546.0
...                       ...                 ...              ...
3564684             101192.00           120328.00         101192.0
3564687              86632.00            86700.00          86632.0
3564688             134992.00           160000.00         134992.0
3564690                 27.30               32.50             27.3
3564693             132000.00           152000.00         131144.0

         PW_WAGE_LEVEL  NEW_EMPLOYMENT CHANGE_EMPLOYER  AMENDED_PETITION  \
1                   II               0               0                 0
3                   IV               0               0                 0
5                   II               0               1                 0
6                   II               0               0                 1
10                  II               0               0                 1
...                ...             ...             ...               ...
3564684             II               0               1                 0
3564687              I               0               0                 0
3564688             IV               0               1                 0
3564690              I               1               0                 0
3564693             II               0               1                 0

                 PROCESSING_CENTER  SERVICE_OFFICE PROCESSING_DAYS
1             Texas Service Center   WASHINGTON DC               6
3             Texas Service Center   WASHINGTON DC               6
5        California Service Center   WASHINGTON DC               6
6             Texas Service Center   WASHINGTON DC               6
10            Texas Service Center   WASHINGTON DC               6
...                            ...             ...             ...
3564684       Texas Service Center   WASHINGTON DC               7
3564687  California Service Center   WASHINGTON DC               7
3564688       Texas Service Center   WASHINGTON DC             546
3564690  California Service Center   WASHINGTON DC               7
3564693  California Service Center   WASHINGTON DC             256

[1166905 rows x 22 columns]

In [34]:
final_df.loc[final_df['PROCESSING_DAYS'].idxmax()]

APPLICATION_ID                    I-200-19329-164493
APPLICATION_STATUS             Certified - Withdrawn
SUBMISSION_DATE                  2019-11-25 00:00:00
DECISION_DATE                    2024-08-28 00:00:00
VISA_CLASS                                      H-1B
SOC_CODE                                  15-1121.00
SOC_TITLE                  Computer Systems Analysts
JOB_TITLE                Senior Technical Consultant
EMPLOYER_NAME              IBM India Private Limited
EMPLOYER_STATE                                    NC
WORKSITE_STATE                                    NJ
WORKSITE_CITY                             Piscataway
WAGE_RATE_OF_PAY_FROM                        92435.0
WAGE_RATE_OF_PAY_TO                          92442.0
PREVAILING_WAGE                              92435.0
PW_WAGE_LEVEL                                     II
NEW_EMPLOYMENT                                     0
CHANGE_EMPLOYER                                    0
AMENDED_PETITION                                   1
PROCESSING_CENTER            New York Service Center
SERVICE_OFFICE                         WASHINGTON DC
PROCESSING_DAYS                                 1738
Name: 3486735, dtype: object

In [35]:
final_df['APPLICATION_STATUS'].unique()

array(['Certified', 'Certified - Withdrawn', 'Denied', 'Withdrawn'],
      dtype=object)

In [36]:
final_df = final_df[
    ~final_df['APPLICATION_STATUS'].isin([
        'Withdrawn',
        'Certified - Withdrawn',
        'Revoked'
    ])
]

In [37]:
final_df.columns = final_df.columns.str.strip()
final_df['PROCESSING_DAYS'].max()

np.int64(152)

In [38]:
level_map = {'I':1, 'II':2, 'III':3, 'IV':4}
final_df['PW_WAGE_LEVEL'] = final_df['PW_WAGE_LEVEL'].map(level_map)

In [39]:
print(final_df)

             APPLICATION_ID APPLICATION_STATUS SUBMISSION_DATE DECISION_DATE  \
1        I-200-19268-638983          Certified      2019-09-25    2019-10-01
3        I-200-19268-936403          Certified      2019-09-25    2019-10-01
5        I-200-19268-495825          Certified      2019-09-25    2019-10-01
6        I-200-19268-319248          Certified      2019-09-25    2019-10-01
10       I-200-19268-585552          Certified      2019-09-25    2019-10-01
...                     ...                ...             ...           ...
3564680  I-200-24177-144587          Certified      2024-06-24    2024-07-01
3564683  I-200-24176-141197          Certified      2024-06-24    2024-07-01
3564684  I-200-24176-141785          Certified      2024-06-24    2024-07-01
3564687  I-200-24176-143274          Certified      2024-06-24    2024-07-01
3564690  I-200-24177-144720          Certified      2024-06-24    2024-07-01

        VISA_CLASS    SOC_CODE  \
1             H-1B     15-1132
3             H-1B     15-1132
5             H-1B     15-2031
6             H-1B     15-1132
10            H-1B     15-1199
...            ...         ...
3564680       H-1B  15-1252.00
3564683       H-1B  15-1252.00
3564684       H-1B  15-1252.00
3564687       H-1B  15-1211.00
3564690       H-1B  13-1161.00

                                                 SOC_TITLE  \
1                        SOFTWARE DEVELOPERS, APPLICATIONS
3                        SOFTWARE DEVELOPERS, APPLICATIONS
5                             OPERATIONS RESEARCH ANALYSTS
6                        SOFTWARE DEVELOPERS, APPLICATIONS
10                         COMPUTER OCCUPATIONS, ALL OTHER
...                                                    ...
3564680                                Software Developers
3564683                                Software Developers
3564684                                Software Developers
3564687                          Computer Systems Analysts
3564690  Market Research Analysts and Marketing Special...

                                         JOB_TITLE  \
1                                  BI DEVELOPER II
3                 SOFTWARE DEVELOPER, APPLICATIONS
5                      OPERATION RESEARCH ANALYSTS
6                               SOFTWARE DEVELOPER
10                          POWER BI ADMINISTRATOR
...                                            ...
3564680         Architect 5, Software Architecture
3564683    Software Development Engineer - Systems
3564684                    Senior Systems Engineer
3564687                   Computer Systems Analyst
3564690  Marketing and Fund Development Specialist

                                  EMPLOYER_NAME EMPLOYER_STATE  ...  \
1                         DENKEN SOLUTIONS INC.             CA  ...
3                SYSTEMS TECHNOLOGY GROUP, INC.             MI  ...
5                                BIZINTEX, INC.             GA  ...
6                        NEMO IT SOLUTIONS, INC             TX  ...
10                              TECH MATRIX INC             NJ  ...
...                                         ...            ...  ...
3564680       Comcast Cable Communications, LLC             PA  ...
3564683                              Apple Inc.             CA  ...
3564684          Fidelity Technology Group, LLC             MA  ...
3564687                           MYAPPSHUB LLC             WA  ...
3564690  CHINESE INFORMATION AND SERVICE CENTER             WA  ...

        WAGE_RATE_OF_PAY_FROM WAGE_RATE_OF_PAY_TO  PREVAILING_WAGE  \
1                       38.57               38.57             39.0
3                       57.69               57.69             53.0
5                    73000.00            73000.00          72280.0
6                    84000.00            84000.00          73091.0
10                   76000.00            76000.00          75546.0
...                       ...                 ...              ...
3564680             140046.00           179496.80         140046.0
3564683             146328.00           198100.00         146328.0
3564684             101192.00           120328.00         101192.0
3564687              86632.00            86700.00          86632.0
3564690                 27.30               32.50             27.3

         PW_WAGE_LEVEL  NEW_EMPLOYMENT  CHANGE_EMPLOYER  AMENDED_PETITION  \
1                  2.0               0                0                 0
3                  4.0               0                0                 0
5                  2.0               0                1                 0
6                  2.0               0                0                 1
10                 2.0               0                0                 1
...                ...             ...              ...               ...
3564680            4.0               0                0                 1
3564683            3.0               0                0                 0
3564684            2.0               0                1                 0
3564687            1.0               0                0                 0
3564690            1.0               1                0                 0

                 PROCESSING_CENTER  SERVICE_OFFICE PROCESSING_DAYS
1             Texas Service Center   WASHINGTON DC               6
3             Texas Service Center   WASHINGTON DC               6
5        California Service Center   WASHINGTON DC               6
6             Texas Service Center   WASHINGTON DC               6
10            Texas Service Center   WASHINGTON DC               6
...                            ...             ...             ...
3564680    New York Service Center   WASHINGTON DC               7
3564683  California Service Center   WASHINGTON DC               7
3564684       Texas Service Center   WASHINGTON DC               7
3564687  California Service Center   WASHINGTON DC               7
3564690  California Service Center   WASHINGTON DC               7

[1087510 rows x 22 columns]

In [40]:
final_df = final_df[final_df['PROCESSING_DAYS'] >= 0]

In [41]:
final_df['PROCESSING_DAYS'].describe()

count    1.087510e+06
mean     7.212655e+00
std      8.562683e-01
min      0.000000e+00
25%      7.000000e+00
50%      7.000000e+00
75%      7.000000e+00
max      1.520000e+02
Name: PROCESSING_DAYS, dtype: float64

# ENCODING

In [42]:
final_df['SUBMISSION_DATE'] = pd.to_datetime(final_df['SUBMISSION_DATE'])

In [43]:
final_df['SUBMISSION_YEAR'] = final_df['SUBMISSION_DATE'].dt.year
final_df['SUBMISSION_MONTH'] = final_df['SUBMISSION_DATE'].dt.month
final_df['SUBMISSION_DAY'] = final_df['SUBMISSION_DATE'].dt.day
final_df['SUBMISSION_QUARTER'] = final_df['SUBMISSION_DATE'].dt.quarter

In [44]:
final_df

,APPLICATION_ID,APPLICATION_STATUS,SUBMISSION_DATE,DECISION_DATE,VISA_CLASS,SOC_CODE,SOC_TITLE,JOB_TITLE,EMPLOYER_NAME,EMPLOYER_STATE,...,NEW_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,PROCESSING_CENTER,SERVICE_OFFICE,PROCESSING_DAYS,SUBMISSION_YEAR,SUBMISSION_MONTH,SUBMISSION_DAY,SUBMISSION_QUARTER
1,I-200-19268-638983,Certified,2019-09-25,2019-10-01,H-1B,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",BI DEVELOPER II,DENKEN SOLUTIONS INC.,CA,...,0,0,0,Texas Service Center,WASHINGTON DC,6,2019,9,25,3
3,I-200-19268-936403,Certified,2019-09-25,2019-10-01,H-1B,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS","SOFTWARE DEVELOPER, APPLICATIONS","SYSTEMS TECHNOLOGY GROUP, INC.",MI,...,0,0,0,Texas Service Center,WASHINGTON DC,6,2019,9,25,3
5,I-200-19268-495825,Certified,2019-09-25,2019-10-01,H-1B,15-2031,OPERATIONS RESEARCH ANALYSTS,OPERATION RESEARCH ANALYSTS,"BIZINTEX, INC.",GA,...,0,1,0,California Service Center,WASHINGTON DC,6,2019,9,25,3
6,I-200-19268-319248,Certified,2019-09-25,2019-10-01,H-1B,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE DEVELOPER,"NEMO IT SOLUTIONS, INC",TX,...,0,0,1,Texas Service Center,WASHINGTON DC,6,2019,9,25,3
10,I-200-19268-585552,Certified,2019-09-25,2019-10-01,H-1B,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",POWER BI ADMINISTRATOR,TECH MATRIX INC,NJ,...,0,0,1,Texas Service Center,WASHINGTON DC,6,2019,9,25,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564680,I-200-24177-144587,Certified,2024-06-24,2024-07-01,H-1B,15-1252.00,Software Developers,"Architect 5, Software Architecture","Comcast Cable Communications, LLC",PA,...,0,0,1,New York Service Center,WASHINGTON DC,7,2024,6,24,2
3564683,I-200-24176-141197,Certified,2024-06-24,2024-07-01,H-1B,15-1252.00,Software Developers,Software Development Engineer - Systems,Apple Inc.,CA,...,0,0,0,California Service Center,WASHINGTON DC,7,2024,6,24,2
3564684,I-200-24176-141785,Certified,2024-06-24,2024-07-01,H-1B,15-1252.00,Software Developers,Senior Systems Engineer,"Fidelity Technology Group, LLC",MA,...,0,1,0,Texas Service Center,WASHINGTON DC,7,2024,6,24,2
3564687,I-200-24176-143274,Certified,2024-06-24,2024-07-01,H-1B,15-1211.00,Computer Systems Analysts,Computer Systems Analyst,MYAPPSHUB LLC,WA,...,0,0,0,California Service Center,WASHINGTON DC,7,2024,6,24,2
3564690,I-200-24177-144720,Certified,2024-06-24,2024-07-01,H-1B,13-1161.00,Market Research Analysts and Marketing Special...,Marketing and Fund Development Specialist,CHINESE INFORMATION AND SERVICE CENTER,WA,...,1,0,0,California Service Center,WASHINGTON DC,7,2024,6,24,2

In [45]:
final_df.drop(columns=['SUBMISSION_DATE','DECISION_DATE'], inplace=True)

In [46]:
final_df = pd.get_dummies(
    final_df,
    columns=[
        'VISA_CLASS',
        'PROCESSING_CENTER',
        'EMPLOYER_STATE',
        'WORKSITE_STATE'
    ],
    drop_first=True
)

In [47]:
final_df.drop(columns=[
    'APPLICATION_ID',
    'JOB_TITLE',
    'EMPLOYER_NAME',
    'SOC_TITLE'
], inplace=True)

In [48]:
final_df.info

<bound method DataFrame.info of         APPLICATION_STATUS    SOC_CODE  WORKSITE_CITY  WAGE_RATE_OF_PAY_FROM  \
1                Certified     15-1132      BRENTWOOD                  38.57
3                Certified     15-1132         Taylor                  57.69
5                Certified     15-2031       San Jose               73000.00
6                Certified     15-1132   JACKSONVILLE               84000.00
10               Certified     15-1199  The Woodlands               76000.00
...                    ...         ...            ...                    ...
3564680          Certified  15-1252.00   West Chester              140046.00
3564683          Certified  15-1252.00      San Diego              146328.00
3564684          Certified  15-1252.00       Westlake              101192.00
3564687          Certified  15-1211.00        REDMOND               86632.00
3564690          Certified  13-1161.00        Seattle                  27.30

         WAGE_RATE_OF_PAY_TO  PREVAILING_WAGE  PW_WAGE_LEVEL  NEW_EMPLOYMENT  \
1                      38.57             39.0            2.0               0
3                      57.69             53.0            4.0               0
5                   73000.00          72280.0            2.0               0
6                   84000.00          73091.0            2.0               0
10                  76000.00          75546.0            2.0               0
...                      ...              ...            ...             ...
3564680            179496.80         140046.0            4.0               0
3564683            198100.00         146328.0            3.0               0
3564684            120328.00         101192.0            2.0               0
3564687             86700.00          86632.0            1.0               0
3564690                32.50             27.3            1.0               1

         CHANGE_EMPLOYER  AMENDED_PETITION  ... WORKSITE_STATE_TN  \
1                      0                 0  ...              True
3                      0                 0  ...             False
5                      1                 0  ...             False
6                      0                 1  ...             False
10                     0                 1  ...             False
...                  ...               ...  ...               ...
3564680                0                 1  ...             False
3564683                0                 0  ...             False
3564684                1                 0  ...             False
3564687                0                 0  ...             False
3564690                0                 0  ...             False

         WORKSITE_STATE_TX  WORKSITE_STATE_UT  WORKSITE_STATE_VA  \
1                    False              False              False
3                    False              False              False
5                    False              False              False
6                    False              False              False
10                    True              False              False
...                    ...                ...                ...
3564680              False              False              False
3564683              False              False              False
3564684               True              False              False
3564687              False              False              False
3564690              False              False              False

         WORKSITE_STATE_VI  WORKSITE_STATE_VT  WORKSITE_STATE_WA  \
1                    False              False              False
3                    False              False              False
5                    False              False              False
6                    False              False              False
10                   False              False              False
...                    ...                ...                ...
3564680              False              False              False
3564683              False              False              False
3564684              False              False              False
3564687              False              False               True
3564690              False              False               True

         WORKSITE_STATE_WI  WORKSITE_STATE_WV  WORKSITE_STATE_WY
1                    False              False              False
3                    False              False              False
5                    False              False              False
6                    False              False              False
10                   False              False              False
...                    ...                ...                ...
3564680              False              False              False
3564683              False              False              False
3564684              False              False              False
3564687              False              False              False
3564690              False              False              False

[1087510 rows x 130 columns]>

In [49]:
print(final_df.columns)

Index(['APPLICATION_STATUS', 'SOC_CODE', 'WORKSITE_CITY',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'PREVAILING_WAGE',
       'PW_WAGE_LEVEL', 'NEW_EMPLOYMENT', 'CHANGE_EMPLOYER',
       'AMENDED_PETITION',
       ...
       'WORKSITE_STATE_TN', 'WORKSITE_STATE_TX', 'WORKSITE_STATE_UT',
       'WORKSITE_STATE_VA', 'WORKSITE_STATE_VI', 'WORKSITE_STATE_VT',
       'WORKSITE_STATE_WA', 'WORKSITE_STATE_WI', 'WORKSITE_STATE_WV',
       'WORKSITE_STATE_WY'],
      dtype='object', length=130)

In [50]:
[col for col in final_df.columns if 'SUBMISSION' in col]

['SUBMISSION_YEAR', 'SUBMISSION_MONTH', 'SUBMISSION_DAY', 'SUBMISSION_QUARTER']

In [56]:
final_df.drop(columns=['WORKSITE_CITY'], inplace=True)

In [52]:
final_df

,SOC_CODE,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,PREVAILING_WAGE,PW_WAGE_LEVEL,NEW_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,SERVICE_OFFICE,...,WORKSITE_STATE_TN,WORKSITE_STATE_TX,WORKSITE_STATE_UT,WORKSITE_STATE_VA,WORKSITE_STATE_VI,WORKSITE_STATE_VT,WORKSITE_STATE_WA,WORKSITE_STATE_WI,WORKSITE_STATE_WV,WORKSITE_STATE_WY
1,15-1132,BRENTWOOD,38.57,38.57,39.0,2.0,0,0,0,WASHINGTON DC,...,True,False,False,False,False,False,False,False,False,False
3,15-1132,Taylor,57.69,57.69,53.0,4.0,0,0,0,WASHINGTON DC,...,False,False,False,False,False,False,False,False,False,False
5,15-2031,San Jose,73000.00,73000.00,72280.0,2.0,0,1,0,WASHINGTON DC,...,False,False,False,False,False,False,False,False,False,False
6,15-1132,JACKSONVILLE,84000.00,84000.00,73091.0,2.0,0,0,1,WASHINGTON DC,...,False,False,False,False,False,False,False,False,False,False
10,15-1199,The Woodlands,76000.00,76000.00,75546.0,2.0,0,0,1,WASHINGTON DC,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564680,15-1252.00,West Chester,140046.00,179496.80,140046.0,4.0,0,0,1,WASHINGTON DC,...,False,False,False,False,False,False,False,False,False,False
3564683,15-1252.00,San Diego,146328.00,198100.00,146328.0,3.0,0,0,0,WASHINGTON DC,...,False,False,False,False,False,False,False,False,False,False
3564684,15-1252.00,Westlake,101192.00,120328.00,101192.0,2.0,0,1,0,WASHINGTON DC,...,False,True,False,False,False,False,False,False,False,False
3564687,15-1211.00,REDMOND,86632.00,86700.00,86632.0,1.0,0,0,0,WASHINGTON DC,...,False,False,False,False,False,False,True,False,False,False
3564690,13-1161.00,Seattle,27.30,32.50,27.3,1.0,1,0,0,WASHINGTON DC,...,False,False,False,False,False,False,True,False,False,False

In [53]:
final_df['SERVICE_OFFICE'].nunique()

14

In [54]:
final_df = pd.get_dummies(
    final_df,
    columns=['SERVICE_OFFICE'],
    drop_first=True
)

In [57]:
final_df

,SOC_CODE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,PREVAILING_WAGE,PW_WAGE_LEVEL,NEW_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,PROCESSING_DAYS,SUBMISSION_YEAR,...,SERVICE_OFFICE_JERUSALEM,SERVICE_OFFICE_LONDON,SERVICE_OFFICE_LUANDA,SERVICE_OFFICE_MEXICO CITY,SERVICE_OFFICE_MUMBAI,SERVICE_OFFICE_PHNOM PENH,SERVICE_OFFICE_SANTIAGO,SERVICE_OFFICE_TBILISI,SERVICE_OFFICE_TORONTO,SERVICE_OFFICE_WASHINGTON DC
1,15-1132,38.57,38.57,39.0,2.0,0,0,0,6,2019,...,False,False,False,False,False,False,False,False,False,True
3,15-1132,57.69,57.69,53.0,4.0,0,0,0,6,2019,...,False,False,False,False,False,False,False,False,False,True
5,15-2031,73000.00,73000.00,72280.0,2.0,0,1,0,6,2019,...,False,False,False,False,False,False,False,False,False,True
6,15-1132,84000.00,84000.00,73091.0,2.0,0,0,1,6,2019,...,False,False,False,False,False,False,False,False,False,True
10,15-1199,76000.00,76000.00,75546.0,2.0,0,0,1,6,2019,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564680,15-1252.00,140046.00,179496.80,140046.0,4.0,0,0,1,7,2024,...,False,False,False,False,False,False,False,False,False,True
3564683,15-1252.00,146328.00,198100.00,146328.0,3.0,0,0,0,7,2024,...,False,False,False,False,False,False,False,False,False,True
3564684,15-1252.00,101192.00,120328.00,101192.0,2.0,0,1,0,7,2024,...,False,False,False,False,False,False,False,False,False,True
3564687,15-1211.00,86632.00,86700.00,86632.0,1.0,0,0,0,7,2024,...,False,False,False,False,False,False,False,False,False,True
3564690,13-1161.00,27.30,32.50,27.3,1.0,1,0,0,7,2024,...,False,False,False,False,False,False,False,False,False,True

In [68]:
final_df.shape

(1087510, 141)

In [67]:
final_df.sample(15000).to_csv("cleaned_sample.csv", index=False)

In [66]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1087510 entries, 1 to 3564690
Columns: 168 entries, WAGE_RATE_OF_PAY_FROM to SOC_MAJOR_97
dtypes: bool(156), float64(4), int32(4), int64(4)
memory usage: 253.1 MB

In [60]:
final_df.select_dtypes(include='object').columns

Index(['SOC_CODE'], dtype='object')

In [61]:
final_df['SOC_CODE'].nunique()

1289

In [62]:
final_df['SOC_MAJOR'] = final_df['SOC_CODE'].str[:2]

In [63]:
final_df['SOC_MAJOR'].nunique()

30

In [64]:
final_df = pd.get_dummies(
    final_df,
    columns=['SOC_MAJOR'],
    drop_first=True
)

In [65]:
final_df.drop(columns=['SOC_CODE'], inplace=True)